<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AdminServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AdminServices.Properties.Settings>
            <setting name="AdminServices_DemoEmision_Service" serializeAs="String">
                <value>http://demoemision21.thefactoryhka.com.co/ws/v1.0/Service.svc</value>
            </setting>
            <setting name="AdminServices_DemoEmisionv4_Service" serializeAs="String">
                <value>http://emision21v4.thefactoryhka.com.co/ws/v1.0/Service.svc</value>
            </setting>
        </AdminServices.Properties.Settings>
    </applicationSettings>
</configuration>